:root {
  --font-weight-hh: 700;
  --font-weight-h: 500;
  --font-size-hh: 36px;
  --font-size-h: 20px;
  --line-height-hh: 1.1;
  --line-height-h: 1.2;
  --line-height-p: 1.5;
  --letter-spacing-h: 0.04em;
  --letter-spacing-p: 0.02em;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --dairy: #fcfcfc;
  --green: #31d0aa;
  --slate: #434455;
  --navy-blue: #2e2f42;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
}

button,
ul,
h1,
h2,
h3,
p,
b {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #e5e5e5;
  color: var(--navy-blue);
}

.container {
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  height: 72px;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web-top,
.studio-top {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-top {
  color: var(--iris);
}

.studio-top {
  color: var(--navy-blue);
}

.nav-text {
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--navy-blue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio,
.portfolio {
  position: relative;
  color: var(--ocean);
}

.portfolio::after,
.studio::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0px;
  background: var(--ocean);
  border-radius: 2px;
}

.studio::after {
  width: 48px;
}

.portfolio::after {
  width: 66px;
}

.nav-text:hover,
.nav-text:focus,
.address-text:hover,
.address-text:focus {
  color: var(--ocean);
}

.address-text {
  color: var(--slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* main */

main {
  background-color: var(--white);
}

/* hero */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  font-weight: var(--font-weight-hh);
  font-size: 56px;
  line-height: var(--line-height-hh);
  letter-spacing: var(--letter-spacing-p);
  color: var(--white);
}

.hero-button {
  margin-top: 72px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-h);
  background-color: var(--iris);
  color: var(--white);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 96px;
  display: block;
  overflow-y: scroll;
  background-color: rgba(46, 47, 66, 0.4);
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  display: none;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  fill: var(--navy-blue);
}

.close:hover,
.close:focus {
  background-color: var(--ocean);
}

.close:hover .close-icon,
.close:active .close-icon {
  fill: var(--white);
}

/* form */

.form {
  margin-top: 16px;
  padding: 0 24px;
}

.modal-text {
  display: block;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--navy-blue);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field:not(:first-child) {
  margin-top: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}

.form-field input {
  margin-top: 4px;
  padding: 10px 16px 10px 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 26px;
  left: 16px;
  fill: var(--navy-blue);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  margin-top: 4px;
  padding: 10px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-h);
  color: rgba(46, 47, 66, 0.4);
}

.form-input:hover,
.form-input:focus {
  outline: 0;
  border: 1px solid var(--iris);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--iris);
}

/* checkbox */

.form-check {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.checkbox {
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: var(--white);
  background-image: url("../images/vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--navy-blue);
  border-radius: 2px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover,
.checkbox:focus {
  outline: 0;
  border: 1px solid var(--navy-blue);
}

.checkbox:checked {
  appearance: none;
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
}

.check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-h);
  color: var(--light-slate);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-label:hover .checkbox {
  border: 1px solid var(--ocean);
}
.privacy-policy {
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-h);
  color: var(--ocean);
}

/* button form*/

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-text {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 169px;
  height: 56px;
  cursor: pointer;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-h);
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-text:hover,
.form-button-text:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* feature */

.featurs {
  padding-top: 96px;
  padding-bottom: 96px;
}

.featurs-list {
  display: flex;
  flex-wrap: wrap;
}

.featurs-direction {
  font-weight: var(--font-weight-hh);
  font-size: var(--font-size-hh);
  line-height: var(--line-height-hh);
  letter-spacing: var(--letter-spacing-p);
  text-transform: capitalize;
  color: var(--navy-blue);
}

.featurs-text {
  margin-top: 8px;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--slate);
}

/* samples */

.samples {
  display: none;
}

/* team */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.team-text {
  font-weight: var(--font-weight-hh);
  font-size: var(--font-size-hh);
  line-height: var(--line-height-hh);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 264px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--navy-blue);
}

.team-function {
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--slate);
}

.team-item-text {
  padding: 32px 16px;
}

.team-icons-list {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons:hover,
.team-icons:focus {
  background-color: var(--ocean);
}

/* customers */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-text {
  font-weight: var(--font-weight-hh);
  font-size: var(--font-size-hh);
  line-height: var(--line-height-hh);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  text-transform: capitalize;
  color: var(--navy-blue);
}

.customers-list {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.customers-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons {
  fill: var(--light-slate);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-items:hover .customers-icons,
.customers-items:focus .customers-icons {
  fill: var(--ocean);
}
.customers-items:hover,
.customers-items:focus {
  border: 1px solid var(--ocean);
}

/* footer */

.footer {
  background-color: var(--navy-blue);
}

.foot {
  display: flex;
}

.logo-bottom {
  display: flex;
  margin-bottom: 16px;
}

.web-bottom,
.studio-bottom {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-bottom {
  color: var(--iris);
}

.studio-bottom {
  color: var(--cloud);
}

.advise {
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--cornflower);
}

.foot-network {
  display: flex;
  flex-direction: column;
  width: 208px;
  margin-left: 120px;
}

.foot-network-text {
  margin-bottom: 16px;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--white);
}

.foot-network-list {
  display: flex;
  justify-content: space-between;
}

.foot-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-icons:hover,
.foot-icons:focus {
  background-color: var(--green);
}

/* subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe-text {
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--white);
}

.input-button {
  display: flex;
  margin-top: 16px;
}

.foot-input {
  display: flex;
  align-items: center;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: var(--white);
  background-color: var(--navy-blue);
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: var(--letter-spacing-h);
  color: var(--white);
}

.foot-input:hover,
.foot-input:focus {
  outline: 0;
  border: 1px solid var(--ocean);
  color: var(--white);
}

.foot-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: 165px;
  height: 40px;
  border: 0;
  cursor: pointer;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--white);
  border-radius: 4px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-button:hover,
.foot-button:focus {
  background-color: var(--ocean);
}

/* Portfolio */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
}

.filters-text {
  padding: 12px 24px;
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-h);
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-text:hover,
.filters-text:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-img {
  position: relative;
  overflow: hidden;
  display: flex;
}

.projects-img::before {
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--iris);
  mix-blend-mode: normal;
  transform: translateY(100%);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .projects-img::before,
.projects-item:focus .projects-img::before {
  transform: translateY(0);
}

.hidden-text {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--cloud);
  transition-property: z-index;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .hidden-text,
.projects-item:focus .hidden-text {
  z-index: 2;
}

.projects-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.projects-direction {
  margin-bottom: 8px;
  padding-left: 16px;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-p);
  color: var(--navy-blue);
}

.projects-text {
  padding-left: 16px;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--slate);
}

@media (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  .header {
    height: 70px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-top {
    z-index: 1;
  }

  .nav-list.menu,
  .address-list.menu {
    display: none;
  }

  .menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    stroke: var(--navy-blue);
    background-color: var(--white);
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: none;
    font-weight: var(--font-weight-h);
    line-height: var(--line-height-p);
    letter-spacing: var(--letter-spacing-p);
    color: var(--navy-blue);
    background-color: var(--white);
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    display: block;
    z-index: 2;
  }

  .menu-close {
    position: absolute;
    right: 24px;
    top: -56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
  }

  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .nav-text {
    font-weight: var(--font-weight-hh);
    font-size: var(--font-size-hh);
    line-height: var(--line-height-hh);
    letter-spacing: var(--letter-spacing-p);
    color: var(--navy-blue);
    text-transform: capitalize;
  }

  .сontacts {
    color: var(--ocean);
  }

  .nav-text:hover {
    color: var(--ocean);
  }

  .contacts-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .address-text {
    font-weight: var(--font-weight-h);
    font-size: var(--font-size-h);
    line-height: var(--line-height-h);
    letter-spacing: var(--letter-spacing-p);
    color: var(--slate);
  }

  .number {
    font-weight: var(--font-weight-hh);
    font-size: var(--font-size-hh);
    line-height: var(--line-height-hh);
    letter-spacing: var(--letter-spacing-p);
    text-transform: capitalize;
    color: var(--iris);
  }

  .top-network-list {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
    margin-top: 48px;
    padding-right: 40px;
  }

  .top-network-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--iris);
  }

  /* hero */

  .hero-text {
    font-size: var(--font-size-hh);
  }

  /* modal */

  .backdrop {
    z-index: 3;
    padding-top: 96px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .modal {
    position: relative;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 396px;
    background-color: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  /* feature */

  .featurs-list {
    display: flex;
    justify-content: center;
  }

  .featurs-item {
    max-width: 396px;
  }

  .featurs-icons {
    display: none;
  }

  .featurs-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .featurs-direction {
    text-align: center;
  }

  /* samples */

  .samples {
    display: none;
  }

  /* team */

  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    justify-content: center;
  }

  .team-item {
    margin-top: 72px;
  }

  /* customers */

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .customers-items {
    margin-top: 72px;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* footer */

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .foot {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot-logo {
    margin-bottom: 72px;
  }

  .logo-bottom {
    display: flex;
    justify-content: center;
  }

  .foot-network {
    margin-bottom: 72px;
    margin-left: 0;
  }

  .foot-network-text {
    text-align: center;
  }

  .subscribe {
    margin-left: 0;
  }

  .subscribe-text {
    text-align: center;
  }

  .input-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .foot-button {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Portfolio */

  .projects {
    padding: 0;
  }

  .filters-list {
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .filters-item {
    margin-right: 24px;
    margin-bottom: 16px;
    justify-content: center;
  }

  .projects-item {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }

  .header {
    height: 72px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .menu-open,
  .mobile-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 261px;
  }

  .studio::after,
  .portfolio::after {
    top: 44px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
  }

  .address-text {
    font-size: 12px;
    line-height: var(--line-height-h);
    letter-spacing: var(--letter-spacing-h);
  }

  /* hero */

  .hero-button {
    margin-top: 36px;
  }

  /* modal */

  .modal {
    width: 408px;
  }

  /* feature */

  .featurs {
    padding-bottom: 24px;
  }

  .featurs-icons {
    display: none;
  }

  .tablet {
    padding-left: 4px;
    padding-right: 4px;
  }

  .featurs-item {
    width: 356px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 72px;
  }

  /* team */

  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-text {
    margin-bottom: 8px;
  }

  .team-list {
    justify-content: center;
  }

  .team-item {
    margin-top: 64px;
    margin-right: 12px;
    margin-left: 12px;
  }

  /* customers */

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-items {
    margin-top: 72px;
    margin-left: 12px;
    margin-right: 12px;
  }

  /* footer */

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .foot {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 108px;
  }

  .foot-logo {
    margin-bottom: 72px;
  }

  .foot-network {
    margin-left: 24px;
  }

  .subscribe {
    margin: 0;
  }

  /* Portfolio */

  .projects {
    padding-top: 0;
    padding-bottom: 0;
  }

  .filters-list {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .filters-item:not(:last-child) {
    margin-right: 24px;
  }

  .projects-list {
    padding-bottom: 24px;
    justify-content: space-between;
  }

  .projects-item {
    margin-bottom: 72px;
  }
}

@media (min-width: 1200px) {
  .menu-open,
  .mobile-menu {
    display: none;
  }

  .logo-top {
    margin-right: 76px;
  }

  .nav-list {
    display: flex;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .studio::after,
  .portfolio::after {
    top: 42px;
  }

  .nav-item:not(:last-child),
  .address-item:not(:last-child) {
    margin-right: 40px;
  }

  .address-list {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-text {
    display: inline-block;
    font-style: normal;
    line-height: var(--line-height-p);
    letter-spacing: var(--letter-spacing-p);
  }

  /* hero */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-button {
    margin-top: 48px;
  }

  /* modal */

  .backdrop {
    padding-top: 80px;
  }

  .modal {
    width: 408px;
    height: 584px;
  }

  /* featurs  */

  .featurs {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .featurs-item {
    width: 264px;
  }

  .featurs-item:not(:last-child) {
    margin-right: 24px;
  }

  .featurs-icons {
    width: 100%;
    height: 112px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: var(--cloud);
    border-radius: 4px;
  }

  .featurs-direction {
    font-weight: var(--font-weight-h);
    font-size: var(--font-size-h);
    line-height: var(--line-height-h);
    letter-spacing: var(--letter-spacing-p);
  }

  .featurs-text {
    font-weight: 400;
  }

  /* samples */

  .samples {
    padding-bottom: 120px;
  }

  .samples-text {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: var(--font-weight-hh);
    font-size: var(--font-size-hh);
    line-height: var(--line-height-hh);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
  }

  .samples-list {
    display: flex;
    margin: 0;
    padding-left: 0;
  }

  /* team */

  .team-text {
    margin-bottom: 72px;
  }

  .team-list {
    display: flex;
    justify-content: space-between;
  }

  .customers-list {
    margin-top: 72px;
  }

  /* footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* Portfolio */

  .filters-list {
    justify-content: center;
  }

  .projects-list {
    margin-top: 72px;
    justify-content: center;
  }

  .projects-item {
    position: relative;
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid var(--cornflower);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-item:nth-child(3n) {
    margin-right: 0;
  }

  .projects-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .filters-item:not(:last-child) {
    margin-right: 24px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office\ 1@2x.jpg");
  }
}
